h1 {
    font-size: 3em;
    text-align: center;
    margin: 10px;
}
body {
    margin-left: 80px;
    margin-right: 80px;
    background-color: seagreen;
}

.intro {
    padding: 20px;
    width: 97%;
    max-width: unset;
    background-color: darkolivegreen;
}

.intro_content {
    margin: 0px auto;
    padding: 20px 0px;
    width: 85%;
    max-width: 2000px;
    color: white;
}


.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
}


#titulo {
    font-family: 'Montserrat', sans-serif;
    color: black;
    background-color: darkolivegreen;
    padding: 20px;

    display: flex;
    justify-content: center;
}
#titulo2 {
    font-family: 'Montserrat', sans-serif;
    color: black;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
}

#index {
    padding: 30px;
    display: flex;
    justify-content: space-around;
}
#pretext {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    text-align: match-parent;
    color: black;
}
#top {
    font-family: 'Montserrat', sans-serif;
    display: flex; justify-content: center;

}
p {
    font-family: 'Montserrat', sans-serif;
    font-min-size: medium;
}
int{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
}
nav {
    color: white;
    background-color: black;
padding: 30px;
}
 a{
     font-family: 'Open Sans', sans-serif;
      color: black;
 }
ol {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.top3_list {
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.top3_list li {
    padding: 40px;
    background-color: white;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 5px;
    background-color: darkolivegreen;

}

.bibliografia {
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
    width: 100%;

}

.bibliografia li {
    font-family: 'Montserrat', sans-serif;
    margin: 10px 30px;
    display: flex;
    justify-content: center;
}
#biblioh2 {
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

#llicenciah2{
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 30px;
    display: flex;
    justify-content: center;
}
.llicencia li {
    font-family: 'Montserrat', sans-serif;
    margin: 10px 30px;
    display: flex;
    justify-content: center;
}
.segueix {
    padding-top: 10px;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 30px;
    display: flex;
    justify-content: center;
}
.segueix1 {
    font-family: 'Montserrat', sans-serif;
    margin: 10px 30px;
    display: flex;
    justify-content: center;
justify-content: space-evenly;
}